
<div class="row">
    <div class="row">
        <div
                class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center"
                ng-repeat="pomodor in pomodores track by $index"
                ng-controller="PomodorCtrl"
                ng-init="init(pomodor.email)"
            >
            <div class="user-box">
                <div class="user-top-section">
                    <div class="user-img-section">
                        <img class="img-circle" src="http://www.gravatar.com/avatar/{{pomodor.md5_hash}}">
                    </div>
                    <div class="user-name-section">
                        <h2>{{pomodor.name}}</h2>
                        <a href="mailto:{{pomodor.email}}" title={{pomodor.email}}>E-mail</a>
                        <!-- @info: name możesz sobie zmienić -->
                        <div class="user-notify-box">
                            <label for="user-notify-checkbox">
                                <input type="checkbox" name="user-notify-checkbox" id="user-notify-checkbox" class="user-notify-checkbox">
                                Notify when available
                            </label>
                        </div>
                    </div>
                </div>
                <h1
                        ng-switch on="pomodor.state"
                        class="{{pomodorClass()}}"
                    >
                    <span ng-switch-when="running">
                        <span ng-switch="timer_running">
                            <span ng-switch-when="false">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true" style="font-size: .7em;"></span>
                                <!--<img src="assets/img/al_green2.gif" alt="loading..."/>-->
                            </span>
                            <span ng-switch-when="true">
                                {{pomodor.current | secondsToDateTime | date : 'm:ss'}}
                            </span>
                        </span>
                    </span>
                    <span ng-switch-when="stopped">
                        stopped
                    </span>
                    <span ng-switch-when="paused">
                        paused
                    </span>
                </h1>
                <h4 class="{{pomodorClass()}}">{{pomodorText()}}</h4>
            </div>
        </div>
    </div>
</div>
