
<div class="text-left">
    <h1>
        <form class="form-inline">
            <div class="form-group block title">
            Settings:
            </div>
            <div class="form-group block">
                <label for="inputChannel">#</label>
                <input
                        type="text"
                        class="form-control"
                        id="inputChannel"
                        placeholder="channel"
                        ng-model="ConnectionForm.channel_name"
                        ng-blur="updateConnectionDetails()"
                    />
            </div>
            <div class="form-group block">
                <label for="inputEmail">@</label>
                <input
                        type="email"
                        class="form-control"
                        id="inputEmail"
                        placeholder="email"
                        ng-model="ConnectionForm.user_email"
                        ng-blur="updateConnectionDetails()"
                    />
            </div>
            <div class="form-group block">
                <label for="inputName"><i class="glyphicon glyphicon-user"></i></label>
                <input
                        type="text"
                        class="form-control"
                        id="inputName"
                        placeholder="name"
                        ng-model="ConnectionForm.user_name"
                        ng-blur="updateConnectionDetails()"
                    />
            </div>
            <div class="checkbox" style="display: none">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
            <div class="form-group button">
                <button class="btn btn-default" ng-click="updateConnectionDetails(); closeMenu()">Go!</button>
            </div>
        </form>
    </h1>
</div>