<div class="row">
    <div class="col-xs-12 col-sm-10 text-center">
        <button
                type="button"
                class="btn btn-default btn-lg pull-left {{action.text_class}}"
                style="margin-left: 10px;"
                ng-repeat="action in actions"
                ng-click="call(action.call_func)"
                ng-if="isActionVisible(action.action)"
            >
            <span class="glyphicon {{action.img_class}}" aria-hidden="true"></span> {{action.text}}
        </button>
        <!--
        <div style="clear: left; height: 10px;"></div>

        @ask: anyone using this?
        <button
                type="button"
                class="btn btn-default btn-xs pull-left {{action.text_class}}"
                style="margin-left: 10px;"
                ng-repeat="action in actions_intervals"
                ng-click="call(action.call_func)"
                >
            <span class="glyphicon {{action.img_class}}" aria-hidden="true"></span> {{action.text}}
        </button>
        -->
    </div>
</div>
